<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symbidrive.timteam.main" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.symbidrive.timteam.main.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.symbidrive.timteam.main.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.symbidrive.timteam.main.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.symbidrive.timteam.main" />
            </intent-filter>
        </receiver>

        <service android:name="com.symbidrive.timteam.main.GcmIntentService" />

        <activity
            android:name="com.symbidrive.timteam.main.Launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.CreatePoolActivity"
            android:label="@string/title_activity_create_pool" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <activity -->
        <!-- android:name=".MatchingRoutesActivity" -->
        <!-- android:label="@string/title_activity_matching_routes" > -->
        <!-- </activity> -->
        <activity
            android:name="com.symbiDrive.timteam.main.MatchingPoolsActivity"
            android:label="@string/title_activity_matching_pools" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.SearchPoolActivity"
            android:label="@string/title_activity_search_pool" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.ShowRouteActivity"
            android:label="@string/title_join_pool" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.MyProfile"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.PoolDetails"
            android:label="@string/title_activity_my_pool" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.PoolDetailsDriver"
            android:label="@string/title_activity_my_pool" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.ViewPool"
            android:label="@string/title_activity_view_pool" >
        </activity>
        <activity
            android:name="com.symbidrive.timteam.main.MyPools"
            android:label="@string/title_activity_my_pools" >
        </activity>
    </application>

</manifest>
